# AWS IoT Core endpoint
AWS_IOT_ENDPOINT=a34pq72gp9sk70-ats.iot.us-east-1.amazonaws.com

# Amazon Root CA (shared by both backend and ESP32 simulator)
AWS_IOT_CA_CERT=aws/certs/AmazonRootCA1.pem

# Backend MQTT client certificates
AWS_IOT_BACKEND_CERT=aws/certs/backend-certificate.pem.crt
AWS_IOT_BACKEND_KEY=aws/certs/backend-private.pem.key

# ESP32 simulator certificates (only needed for local testing)
AWS_IOT_ESP32_CERT=aws/certs/esp32-certificate.pem.crt
AWS_IOT_ESP32_KEY=aws/certs/esp32-private.pem.key
